/ModProj/Library
/ModProj/*.csproj
/ModProj/Logs/Packages-Update.log
/ModProj/*.sln
/ModProj/obj/Debug
/ModProj/Packages/packages-lock.json
/ModProj/Assets/Mods
/ModProj/Assets/Mods.meta
/ModProj/.vs/ModProj/v16/*.suo
/ModProj/Temp
/ModProj/.vsconfig
/ModProj/Assets/Resources/GenPrefab
/ModProj/Assets/Resources/GenPrefab.meta
